<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>五子棋</title>
	<script src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
		#chessPannel {
			position: absolute;
			display: flex;
			margin: 20px;
			border: 1px solid black;
			box-sizing: border-box;
		}

		.box {
			width: 45px;
			height: 45px;
			border: 1px solid black;
			box-sizing: border-box;
		}

		#chessSet {
			position: absolute;
			margin: 20px;
		}

		.chessBox {
			position: absolute;
			z-index: 9;
			width: 42px;
			height: 42px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.chess {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: 1px solid black;
			box-sizing: border-box;
		}

		.btnGroup {
			position: absolute;
			top: 700px;
			left: 200px;
			display: flex;
		}

		.btnGroup button {
			margin: 15px;
			flex: 1;
		}

		.gameText {
			position: absolute;
			color: red;
			top: 680px;
			left: 200px;
		}
	</style>
</head>

<body>
	<div id="fiveInRow">
		<div id="chessSet"></div>
		<div id="chessPannel" @click="downChess($event)"></div>
		<div class="btnGroup">
			<button @click="regret()">悔棋</button>
			<button @click="undoRegret()">撤销悔棋</button>
			<button @click="remake()">重开</button>
		</div>
		<div v-show="isOver" class="h2 gameText">{{gameText}}</div>

	</div>
</body>

<script>
	new Vue({
		el: "#fiveInRow",
		data: {
			chessColor: ["black", "white"], //棋子颜色,黑色先手
			chessList: [], //棋子列表
			chessRegertList: [], //记录悔棋
			step: 0, //下棋总步数
			isOver: 0, //游戏是否结束
			gameText: "",//游戏提示信息
			regretCount: 0//连续悔棋次数，上一步得是悔棋才能撤销悔棋
		},
		mounted() {
			this.createPannel()
		},
		watch: {
			step(val) {
				if (val == 15 * 15) {
					this.gameText = "已经下满，请重开"
					this.isOver = 1;
				}
			}
		},
		methods: {
			createPannel() {
				// 创建棋盘
				let box = `<div class="box"></div>`;
				let chessPannel = $("#chessPannel")[0];
				for (let i = 1; i < 15; i++) {
					let boxCloum = `<div>`;
					for (let j = 1; j < 15; j++) {
						boxCloum += box;
					}
					chessPannel.innerHTML += boxCloum + `</div>`;
				}
			},
			downChess(event) {
				// 下棋子
				if (!this.isOver) {
					if (this.step == 0) {
						this.remake()
					}
					let chessSet = $("#chessSet")[0];
					let layerX = this.getLayer(event.layerX);//获取棋子点击的位置
					let layerY = this.getLayer(event.layerY);
					if (layerX >= 0 && layerY >= 0) {//点击在棋盘里 往左上各移动半格子 让棋子看起来在交汇上
						let chessTemp = `<div 
						class="chessBox" style="left:${layerX - 22}px;top:${layerY - 22}px;"
					><span class="chess" style="background:${this.chessColor[this.step % 2]};"></span></div>`;
						chessSet.innerHTML += chessTemp;

						this.chessList.push({
							lx: layerX,
							ly: layerY,
							color: this.chessColor[this.step % 2]
						})
						this.isWin(this.chessList)
						this.step++;
						this.regretCount = 0;//已经下了子了 不能悔棋了
					}
				}
			},
			getLayer(val) {
				// 获取棋子点击相对位置

				if (val % 45 <= 22) {//没超过45的一半 算点在当前的交汇上
					return val - val % 45;
				} else if (val % 45 >= 23) {//超过45的一半 算点了过一格上
					return val - val % 45 + 45;
				} else {
					return -1;
				}
			},
			isWin(list) {
				// 判断能否连5个棋子
				this.isInCol(list, "black");
				this.isInRow(list, "black");
				this.isInSlashes(list, "black");
				this.isInBackSlashes(list, "black");

				this.isInCol(list, "white");
				this.isInRow(list, "white");
				this.isInSlashes(list, "white");
				this.isInBackSlashes(list, "white");
			},
			isInCol(list, color) {
				// 判断棋子是否在一列
				//在同一列上横轴坐标相同
				//类似C#中的字典那样用（？），判断是否存在横坐标为某数字的棋子
				let dicCol = {};
				for (let i = 0; i < list.length; i++) {
					if (list[i].color == color) {
						if (dicCol[list[i].lx])//字典中存在横坐标为list[i].lx的键
						{
							dicCol[list[i].lx].push(list[i].ly)//往字典的值中添加这颗棋子的纵坐标
							this.isFiveContinue(dicCol[list[i].lx], color);
							//此时dicCol[list[i].lx]中的棋子在同一列上 只需判断一下是否有5子连续
						}
						else//字典中不存在横坐标为list[i].lx的键
						{
							dicCol[list[i].lx] = [list[i].ly];
							//但此时棋子list已经有这颗棋子 把字典设置该键存在且值为这个棋子的纵坐标
						}
					}

				}
			},
			isInRow(list, color) {
				// 判断棋子是否在一横
				//在同一横纵轴坐标相同
				//同上方判断同一列方法 只是变为横向
				let dicRow = {};
				for (let i = 0; i < list.length; i++) {
					if (list[i].color == color) {
						if (dicRow[list[i].ly]) {
							dicRow[list[i].ly].push(list[i].lx)
							this.isFiveContinue(dicRow[list[i].ly], color);
						}
						else {
							dicRow[list[i].ly] = [list[i].lx];

						}
					}

				}
			},
			isInSlashes(list, color) {
				//判断棋子是否在同一正斜线
				//斜率是1 格子是正方形 y=kx+b k=1 b=y-kx b相同的棋子在同一正斜线
				let dicSlashes = {};
				for (let i = 0; i < list.length; i++) {

					if (list[i].color == color) {
						let b = list[i].ly - list[i].lx
						//字典中存在b为list[i].ly-list[i].lx的棋子集合
						if (dicSlashes[b]) {
							dicSlashes[b].push(list[i].lx)//斜率相同 此处放x y坐标都可以
							this.isFiveContinue(dicSlashes[b], color)
						}
						else//字典中不存在b为list[i].ly-list[i].lx的棋子集合 标记为存在 并添加这颗棋子
						{
							dicSlashes[b] = [list[i].lx];
						}
					}

				}

			},
			isInBackSlashes(list, color) {
				//判断棋子是否在同一反斜线
				//跟上面正斜线道理一样 不过斜率是-1
				let dicBackSlashes = {};
				for (let i = 0; i < list.length; i++) {
					if (list[i].color == color) {
						let b = list[i].ly + list[i].lx//斜率-1 这里是*-1
						if (dicBackSlashes[b]) {
							dicBackSlashes[b].push(list[i].lx)//斜率相同 此处放x y坐标都可以
							this.isFiveContinue(dicBackSlashes[b], color)
						}
						else {
							dicBackSlashes[b] = [list[i].lx];
						}
					}

				}
			},
			isFiveContinue(clist, color) {
				// 判断有没有五个棋子在横竖正反斜线上相邻
				//棋盘格子是45px边长的正方形
				let count = 0;//连续棋子计数器 5颗直接调gameover

				if (clist.length >= 5)//至少同一条线上要有5颗棋子才可以获胜
				{
					clist.sort((a, b) => a - b);
					//正序排序后 根据棋盘边长可以知道clist中如果棋子是连续的坐标相减必定是45
					for (let i = 1; i < clist.length; i++) {
						if (clist[i] - clist[i - 1] == 45) {
							count++;
						}
						else//中间断了连续 重置计数
						{
							count = 0;
						}
						if (count == 4)//5连了
						{
							this.gameOver(color)
						}
					}
				}
			},
			gameOver(color) {
				// 游戏结束
				this.isOver = 1;
				this.gameText = color + " win!";
			},
			regret() {
				// 悔棋
				if (this.step > 0 && !this.isOver) {//没结束 步数大于0才可以悔棋
					let chessSet = $("#chessSet")[0];
					chessSet.removeChild(chessSet.children[this.step - 1]);//去掉悔棋棋子
					this.chessRegertList.push(this.chessList.pop())
					this.regretCount++;//悔棋次数+1
					this.step--;//去掉一步

				}
			},
			undoRegret() {
				//撤销悔棋 上一个操作得是悔棋才行
				//游戏不能结束 
				if (this.regretCount > 0 && !this.isOver) {
					let chess = this.chessRegertList.pop()
					this.chessList.push(chess);//加上撤销的悔棋
					let chessSet = $("#chessSet")[0];
					let chessTemp = `<div 
						class="chessBox" style="left:${chess.lx - 22}px;top:${chess.ly - 22}px;"
					><span class="chess" style="background:${chess.color};"></span></div>`;
					chessSet.innerHTML += chessTemp;//画上撤销悔棋的棋子
					this.regretCount--;//撤销一步悔棋
					this.step++;//加回一步
				}
			},
			remake() {
				// 重新开始
				let chessSet = $("#chessSet")[0];
				for (let i = this.step - 1; i >= 0; i--) {
					chessSet.removeChild(chessSet.children[i]);//重开挨个把棋子remove掉
				}
				this.chessList = [],
					this.chessRegertList = [],
					this.step = 0,
					this.isOver = 0,
					this.gameText = "",
					this.regretCount = 0
			}
		}
	})
</script>

</html>
